## Assignment 2

Problem Statement

```text
Data Wrangling II
Create an “Academic performance” dataset of students and perform the
following operations using Python. 

1. Scan all variables for missing values and inconsistencies. 
If there are missing values and/or inconsistencies, use any of the suitable techniques to deal with them.

2. Scan all numeric variables for outliers. 
If there are outliers, use any of the suitable techniques to deal with them.

3. Apply data transformations on at least one of the variables. 
The purpose of this transformation should be one of the following reasons: 
- to change the scale for better understanding of the variable
- to convert a non-linear relation into a linear one
- to decrease the skewness and convert the distribution into a normal distribution.

Reason and document your approach properly.
```

## Dataset Description


### Dataset Description

The dataset `AcademicPerformance.csv` has the following characteristics

- `gender` : "male" or "femaile"
- `race/ethinicity` : "group A" to "group E"
- `parental level of education` : "bachelor's degree" / "some college" / "master's degree" / "associate's degree" / "some college" / "high school"
- `lunch` : type of lunch - "standard" or "free/reduced" 
- `test preparation course` : If a student did the test preparation course before the exams - `completed` / `none`
- `math score` : 0 to 100
- `reading score` : 0 to 100
- `writing score` : 0 to 100

**Loading the dataset into a Pandas DataFrame**

In [2]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")
print(df)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
3                      none          47             57             44
4                      none          76             78             75
..                      ...         ...            ...            ...
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

[1000 rows x 8 columns]

**Describing the data**

In [4]:
# Shape and Size of data
print(f"Shape {df.shape}")
print(f"Size {df.size}")

# Describe()
print(df.describe())

Shape (1000, 8)
Size 8000
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

**Check if any null values**

In [7]:
# Printing all rows if any value is null
null_values_exists = False
for x in df.index:
    if df.loc[x].isnull().any():
        print(df.loc[x])
        null_values_exists = True

if null_values_exists == False:
    print("No null values exists in any rows")

No null values exists in any rows

### Datatypes of Dataset

In [8]:
print(df.dtypes)

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

### Number of peple less than 10% score

In [9]:
# To Do